---
---

@import "minimal-mistakes/skins/air";
@import "minimal-mistakes";

.page__content {
  margin-left: 2em;
  margin-right: 2em;
}
/* Make publication entries smaller */
.archive__item {
  font-size: 0.85em;
}

.archive__item-title {
  font-size: 1.1em;
}

.archive__item-excerpt {
  font-size: 0.9em;
}
